.booksContainer {
  margin-top: 25px;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
  box-sizing: border-box;
  text-align: center;
}

.error {
  color: red;
  text-align: center;
  font-size: large;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  left: 50%;
  margin-top: 100px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}