.searchArea {
  display: inline;
  text-align: center;
  padding-top: 200px;
}

.searchArea input {
  border-radius: 1rem;
  /* margin: 20px auto; */
  margin-top: 20px;
  margin-right: 20px;
  padding-left: 10px;
  min-height: 25px;
  min-width: 180px;
}

.searchArea button {
  background-color: gray;
  border-radius: 0.5rem;
  min-height: 35px;
  min-width: 85px;
  color: white;
}
.searchArea button:hover {
  cursor: pointer;
  background-color: darkgray;
}

.searchArea button i {
  margin-right: 5px;
}
